/*Variables*/
$titanic: "Titanic.jpg";
$airplane: "Airplane.jpg";

html {box-sizing: border-box; height: 100%; width: 100%; font-size: 100%;}
@media(max-width: 1340px) {html{ font-size: 60% !important;}}
@media(max-width: 825px)  {html{ font-size: 40% !important;}}

*, *:after, *:before {box-sizing: inherit;}
img, video {box-sizing: content-box;}

::-webkit-input-placeholder {
   color: grey;
}

:-moz-placeholder { /* Firefox 18- */
   color: grey;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: grey;  
}

:-ms-input-placeholder {  
   color: grey;  
}

button:hover {background-color: rgba(0,0,0,0.8); transition: background-color 0.5s;}
button:focus {outline:0 !important;}
input:focus {outline:0 !important;}
select:focus {outline:0 !important;}

body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	background:url($titanic),linear-gradient(to right, #999, red), linear-gradient(to right, blue, green), linear-gradient(to right, black, orange);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachement: fixed;
	background-blend-mode:screen;
	background-position: 10% 50%;
	z-index: 1;
}

.wrapper {
	height: 100%;
	width: 100%;
}

.logo {
	height: 185px;
	line-height: 185px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 8rem;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	border: 3px solid white;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;		
	background-color: rgba(0,0,0,0.4);
}

main {
	position: absolute;
	top: 185px;
	bottom: 50px;
	left: 0;
	right: 0;
}
.maincontainer--outer {
	display: table;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.maincontainer--inner {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.input__form {
	text-transform: capitalize;
	font-size: 1.1rem;
	text-align: left !important;
	background-color: white;
	border: 2px solid white;
	width: 200px;
	padding: 0px 10px;
	text-align: center;
	margin-bottom: 2px;
	color: black;
	vertical-align: middle;
	line-height: 35px;
	border-radius: 3px;
	margin-bottom: 15px;
	min-height: 35px;
	max-height: 40px;
}

.input__lister {
	text-align: center;
	font-size: 1.3rem;
	margin-bottom: 5px;
}

.result {
	height: 62px;
	position: absolute;
	left: 0;
	right: 0;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	border: 3px solid white;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	line-height: 62px;
}

.result > span {
	font-family: 'Playfair Display', serif;
	font-size: 2.3rem;
}

#logo__hindenburg.result {
	border-bottom-style: none;
	top: 124px;
}

#logo__lusitania.result {
	top: 0;
}

#logo__titanic.result {
	top: 62px;
}


option {color: black !important;}


.input__button {
	text-transform: uppercase;
	font-size: 1.5rem;
	text-align: center;
	width: 150px;
	min-height: 35px;
	background-color: rgba(0,0,0,0.4);
	border: 2px solid white;
	color: white;
	font-weight: 500;
	cursor: pointer !important;
	font-family: 'Playfair Display', serif;
	letter-spacing: 2px;
	transition: background-color 0.5s;
}

footer {
	text-align: center;
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-transform: uppercase;
	font-size: 1.5rem;
	letter-spacing: 2px;
	line-height: 50px;
	color: white;
	border: 2px solid white;
	border-bottom-style: none;
	border-left-style: none;
	border-right-style: none;
	padding: 2px;
	background-color: rgba(0,0,0,0.6);
	transition: background-color 0.5s;
}